= form_with(model: video) do |form|
  - if video.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(video.errors.count, "error")
        prohibited this video from being saved:
      %ul
        - video.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :title, style: "display: block"
    = form.text_field :title
  %div
    = form.label :url, style: "display: block"
    = form.text_field :url
  %div
    = form.label :time, style: "display: block"
    = form.text_field :time
  %div
    = form.label :posted_date, style: "display: block"
    = form.datetime_field :posted_date
  %div
    = form.label :description, style: "display: block"
    = form.text_area :description
  %div
    = form.label :view_count, style: "display: block"
    = form.number_field :view_count
  %div
    = form.label :channel_id, style: "display: block"
    = form.text_field :channel_id
  %div
    = form.label :channel_name, style: "display: block"
    = form.text_field :channel_name
  %div
    = form.label :channel_url, style: "display: block"
    = form.text_field :channel_url
  %div
    = form.submit
