.like.mx-10.text-right{:id => "protection_#{video.id.to_s}"}
  - if video.protection
    = link_to protection_video_path(video.id), remote: true do
      = image_tag 'good_after.png', class: 'icon-size'
  - else
    = link_to protection_video_path(video.id), remote: true do
      = image_tag 'good_before.png', class: 'icon-size'
