= form_with(model: @newvideo) do |form|
  .flex
    %div
      = form.text_field :url
    %div
      = form.submit '単体登録'
= form_with(url: channel_videos_videos_path, method: :get) do |form|
  .flex
    %div
      = form.text_field :channel_url, local: true
      - if @search_date.present? 
        - date = (@search_date)
      - else
        - date = (Time.now - 6.month).strftime('%Y-%m-%dT%H:%M')
      = form.datetime_field  :posted_date, value: date, class: 'datetime_field'
    %div
      = form.submit '検索'
= link_to '全て削除', all_delete_videos_path
#videos
  %table.table
    %tr
      %th{class: 'table-title'} タイトル
      %th{class: 'table-thumbnail'} サムネ
      %th{class: 'table-url'} リンク
      %th{class: 'table-posted_date'} 投稿日時
      %th{class: 'table-view_count'}
        = link_to '再生回数', order_videos_path(order: 'viewCount')
      %th{class: 'table-channel_name'} チャンネル名
      %th{class: 'table-channel_member'} 登録者数
      %th{class: 'table-video_power'}
        = link_to '再生率', order_videos_path(order: 'viewRate')
      %th{class: 'table-delete'} 削除
      %th{class: 'table-delete'} 保護
    - @videos.each do |video|
      = render video
